@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Philosopher', sans-serif;
    background-image: url(https://i.imgur.com/N8OP5pX.png);
    background-color: #73ff0048;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20vh;
    background-attachment: fixed;
    background-size: 75vh 75vh;
    color: rgb(50, 50, 50);
}

:any-link {
    text-decoration: none;
}

.container {
    margin-top: 20vh;
    height: 80vh;
    padding-top: 5vh;
}

.inner-container {
    padding-top: 20px;
    padding-bottom: 5vh;
}

.blur {
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.address-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.address {
    padding: 2px;
    border-radius: 5px;
}

.alignment {
    align-items: center;
    display: inline-block;
}

.address:hover {
    background-color: rgba(107, 255, 169, 0.2);
}

.button:hover {
    background-color: rgba(107, 255, 169, 0.2);
    border-radius: 10px;
}

.price {
    font-size: 15px;
    border: 1px dotted red;
    border-radius: 5px;
    padding: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beer-name-price {
    justify-content: space-between;
    margin-bottom: 10px;
}

.cocktail-card-content {
    width: 100%;
}

.cocktail-name-price-classic {
    justify-content: space-between;
}

.cocktail-name-price-signature {
    text-align: center;
    margin-bottom: 10px;
}

.drink-description {
    align-items: center;
}