@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Philosopher', sans-serif;
    background-image: url(https://i.imgur.com/N8OP5pX.png);
    background-color: #73ff0048;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20vh;
    background-attachment: fixed;
    background-size: 80vh 80vh;
    color: rgb(0, 195, 255);
}

:any-link {
    text-decoration: none;
}

.container {
    margin-top: 20vh;
    height: 80vh;
    backdrop-filter: blur(5px);
}

.inner-container {
    padding-top: 20px;
    padding-bottom: 5vh;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -25px;
}